@import "consts.scss";

.card {
    margin: 8px;
    padding: 0px 8px;
    align-items: center;

    background: $back_sec;
    border-radius: $border-radius;
}
.cards::after {
    content: "";
    display: table;
    clear: both;
}

.card {
    padding: 8px;
    float: left;
    width: calc(50% - 16px);
}
